
:root {
    --sidebar-background-color: #0e0c28;
    --navbar-background-color: #ffffff;
    --avatar-color: #7a80b4;
    --avatar-hover-color: #242849;
    --sidebar-a-color: #7a80b4;
    --sidebar-a-hover-color: #eeeeee;
    --sidebar-a-hover-background-color: #242849;
    --content-background-color: #efeff6;
    --latest-news-link: #dddddd;
    --latest-news-link-hover: #bbbbbb;
}

.info {
    width: 900px;
    margin: auto;
}

#avatar-img {
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.custom-card-header {
    background-color: var(--avatar-hover-color);
    color: var(--sidebar-a-hover-color);
}

.subject_link {
    display: block;
    color: var(--sidebar-background-color);
    padding: 6px;
}

.subject_link:hover {
    background-color: var(--sidebar-background-color);
    color: var(--navbar-background-color);
}